.feedbackSection{
    display:flex;
    gap:15px;
    margin:20px;
}

.feedbackButton{
    height:30px;
    width:90px; 
    box-shadow:0 2px 4px rgba(0, 0, 0, 1);
    background-color:'white'; 
    border-radius:5px;
    font-style: italic;
}